*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}
header, main{
    padding-left: 153px;
    padding-right: 153px;
}

main section{
    margin-bottom: 80px;
}

.section-title{
    font-style: bold;
    font-size: 40;
    color: #0E0E0E;
}
.description{
    font-size: 16;
    color:rgba(14, 14, 14, 0.7);
}

/* Common Styles */
.bold{
    font-style: bold;}
.semibold{
    font-weight: 600;}
.medium{
    font-weight: 600;}
.blackish{
    color: #0E0E0E;}
.font32{
    font-size: 32px;}
.font24{
    font-size: 24px;}
.font18{
    font-size: 18px;}
.center{
    text-align: center;}


/* Header Style  */
header{
    height: 680px;
}
header .top{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top button{
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 29px;
    border: 1px solid #006A50;
    border-radius: 8px;
    /* // */
    font-family: "Fira Sans", serif;}
header .hero{
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;

    padding: 0 56px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
header .hero .text{
    width: 600px;}
header .hero .subtitle{
    color: rgba(14,14,14,0.5);
    font-weight: 500;
    font-size: 24px;}
header .hero .title{
    color: #0E0E0E;
    font-style: bold;
    font-size: 55px;
    margin-top: 16px;
    margin-bottom: 24px;}
header .hero button{
    color: white;
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 33px;
    border-radius: 8px;
    border-style: none;}
header img{
    width: 455px;
    height: 384px;}
header button:hover{
    cursor: pointer;
    background-color: #FFC239;
}
/* Pillar Style  */
.pillars{
    height: 324px;
    margin-top: 80px;
}
.pillars .section-title{
    margin-bottom: 32px;
}
.pillar-container{
    height: 244px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}
.pillar{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 24px 23px;
}
.pillars .pillar img{
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
}
.pillar .title{
    font-size: 16;
    color: #0E0E0E;
}

/* Vision Style  */
.vision{
    height: 745px;
}
.vision .section-title{
    margin-bottom: 24px;
}
.card-container{
    height: 325px;
    display: flex;
    gap: 23px;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}
.vision .card{
    border-radius: 16px;
    flex: 1;
}
.card1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 31px;
    padding-right: 10px;
}
.card2{
    background-color: rgba(198, 228, 214, 1);
    padding: 32px 31px;
}
.card3{
    background: #F7EBCF;
    padding: 24px 23px;
}

.vision .card img{
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
}
.vision .card .title{
    margin-bottom: 12px;
}

.vision .card1 .description {
    margin-bottom: 24px;
}
.vision .card2 .description {
    margin-bottom: 48px;
}
.vision .card3 .description {
    margin-bottom: 64px;
}
.card1 p{
    width: 90%;
}
.vision .card-container button{
    font-weight: 600;
    font-size: 16px;
    color: white;
    border-style: none;
    border-radius: 16px;
    padding: 11px 19px;
    text-align: center;
}
.vision .card1 button{
    background-color: #5490F5;
} 
.vision .card2 button{
    background-color: #09A15C;
} 
.vision .card3 button{
    background-color: #FFC239;
}
.vision .card button:hover{
    background-color: #ff0f73c3;
    cursor: pointer;
}
.quote-box{
    background: url('../assets/quote-bg.png');
    background-position: top 25px left 23px;
    background-repeat: no-repeat;

    border: 1px solid black;
    border-radius: 16px;
    padding: 48px 23px;
}
.quote-box .quotation-text{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}
.quote-box .speaker{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
    margin-bottom: 4px;
}
.quote-box .designation{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}


/* Recent News  */
.recent-news{
    height:960px;
}
.recent-news .section-title{
    margin-bottom: 24px;
}

.recent-news button{
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 25px;
    color: white;
    border-style: none;
    width:fit-content;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
}

.recent-news button:hover{
    cursor: pointer;
    background-color: #FFC239;
}

.above-news, .below-news{
    margin-top: 32px;
    height: 402px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    gap: 31px;
    justify-content: center;
    align-items: center;
    padding-left: 46px;
    padding-right: 46px;
}

.recent-news .satelite{
    width: 391px;
    height: 306px;
    border-radius: 24px;
}
.above-news .news img, .below-news .news img{
    width: 128px;
    height: 40px;
}

.above-news .news, .below-news .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.recent-news .title{
    font-weight:700;
}

.below-news{
    margin-top: 24px;
}

/* Donate Style  */
.donate{
    height: 445px;
    border: 1px solid beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.donate input{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.donate .btn-donate{
    color: white;
    font-size: 18;
    font-weight: 600;
    background-color: #006A50;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    padding: 17px 33px;
    max-width: fit-content;
}
.donate .btn-donate :hover{
    background-color: #bf0fff5c;
    cursor: pointer;
}

.donate .section-title{
    font-size: 40px;
    font-style: bold;
    color:#0E0E0E;
    margin-bottom: 24px;

}

.donate .description{
    width:1059px;
}

.donate .cards{
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

.donate .money{
    font-weight:700;
    font-size: 40px;
    border-radius: 16px;
    padding: 40px 38px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.donate input{
    width: 990px;
    padding: 20px 29px;
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
    border-style: none;
}

.donate .card2{
    background-color: #C6E4D6;
}
.donate .card1:hover{
    background-color: red;
    cursor: pointer;
}
.donate .card2:hover{
    background-color: rgba(0, 0, 255, 0.763);
    cursor: pointer;
}
.donate .card3:hover{
    background-color: rgba(0, 128, 0, 0.694);
    cursor: pointer;
}
.donate .card4:hover{
    background-color: violet;
    cursor: pointer;
}
.donate .btn-donate:hover{
    background-color: peru;
    cursor: pointer;
}


/* newletter Style  */
.newsletter{
    height:395px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
}

.newsletter .container{
    width: 80%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter .section-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}


.newsletter .subscribe-form{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
}

.newsletter input{
    width: 576px;
    border-radius: 8px 0 0 8px;
    padding: 18px 38px;
    background-color: white;
    color: rgba(14, 14, 14, 0.3);
    border: none;
}


.newsletter button{
    border-radius: 0 8px 8px 0;
    color: white;
    background-color: #006A50;
    padding: 17px 33px;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

.newsletter button:hover{
    background-color: peru;
    cursor: pointer;
}

/* Footer style */
footer{
    height: 226px;
background-color: white;}
.footer-container{
    width: 1077px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;}
footer hr{
    margin: 32px 0;}
footer img{
    height: 24px;
    width: 24px;
    /* // */
    margin: 0 12px;}


